<!DOCTYPE html>

<html>
    <head>
        <title> Drib </title>
    </head>

    <body>
        <h1>Add Page</h1>

        <form id = 'page_form' method = 'post' action = "rango/add_page">
            {% csrf_token %}
            {%for hidden in forms.hidden_fields%}
                {{hidden}}
                {% endfor %}

            {%for field in forms.visible_fields%}
                {{field}}
                {{field.errors}}
                {{field.help_text}}
                {% endfor %}

            <input type = 'submit' name='Submit' value = "Add Page" />
        </form>
    </body>


</html>