{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Edit Profile{% endblock %}
{% block body_block %}
{% if user.is_authenticated %}
<h1>{{ user.username }}'s profile.</h1>
{% if user.picture %}
<img src="{{ profile.picture.url }}" alt="Your picture" class="img-thumbnail" height="100px" width="100px">
{%endif%}

<form role="form" method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}

    <h2 class="form-signin-heading">Create Your Profile!</h2>

    {{edit_profile_form.as_p}}
    <li><a href="{% url 'password_change_form' %}">change password</a></li>

    <button class="btn btn-primary" type="submit" name="submit">Submit</button>
</form>
{% endif %}
{% endblock %}