{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %}Profile Registration{% endblock %}

{% block body_block %}
{% if completed %}
    <a href="/rango/">Return to the homepage.</a><br />
{% else %}
	<h2 class="form-signin-heading">Create a User Profile</h2>
	</br>

	<form id="profile_form" method="post" action="/rango/register_profile/"
			enctype="multipart/form-data">

		{% csrf_token %}

		{{ profile_form.as_p }}


		</br>
		<button class="btn btn-primary"  type="submit" name="submit">Submit</button>

	</form>
{% endif %}

{% endblock %}