{%extends 'base.html'%}

{% load staticfiles %}

{% block title %}View_Profile{% endblock %}

{% block body_block %}

	<div class="col-xs-50 col-sm-8 placeholder">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title"><h1>{{ user.username }}'s Profile</h1></h3>
			</div>
		</div>

		<ul class="list-group">
			<li class="list-group-item"><h3>Email:</h3>{{user.email}}</li>
			<li class="list-group-item"><h3>Website:</h3> {{profile.website}}</li>
			<li <img src="{{ profile.picture }}" alt="Your picture" class="img-thumbnail" height="100px" width="100px"></li>
				</ul>
	</div>

{% endblock %}